<%- include('partials/header'); %>



<h1>About</h1>


<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea soluta temporibus aperiam optio quaerat error veniam dicta obcaecati ullam! Laboriosam aliquid fugit velit neque ipsam rerum quasi dolorum distinctio veritatis.</p>


<%- include('partials/footer'); %>
